*.d

*.slo
*.lo
*.o
*.obj

*.gch
*.pch

*.so
*.dylib
*.dll

*.mod
*.smod

*.lai
*.la
*.a
*.lib

*.exe
*.out
*.app
client
server

.DS_Store
.AppleDouble
.LSOverride
._*

.*.swp
*~

source/CMakeFiles/
source/CMakeCache.txt
source/Makefile
source/cmake_install.cmake
source/cmake-build-debug
Dockerfile*
build/
cmake-build-qtcreator/
.qtcreator
.idea/